### Tipos de secuencias

In [3]:
nombre = "Juan Felipe"
type(nombre)

str

In [7]:
numeros = [1,3.3,"hola",7,9] # Lista
type(numeros)
numeros

[1, 3.3, 'hola', 7, 9]

In [8]:
numeros_tupla = (1,2,"hola",4,5) # Tupla
type(numeros_tupla)

tuple

In [13]:
diccionario = {"Nombre":"Juan Felipe", "Apellido":"Acevedo"}
type(diccionario)

dict

### Listas

In [50]:
# int y float
primos = [2,3,5,7,11.0]
primos

#Lista de cadenas
dia_semana = ["Lunes","Martes","Miércoles"]
dia_semana

# Cadenas y números
fecha = ["Sábado", 16, "2022"]
fecha

# 
series = [["Hanna Montana",[1996,1992,1132]], "Juan Felipe", 2022, primos]
series[0][1][1]

1992

In [31]:
#Concatenar o juntar listas
dia_semana += ["Jueves", "Viernes"]
# x = x + 1
# x += 1

In [ ]:
#Obtener elementos de listas por su posición

# ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes']
#   0         1           2           3          4       izq a der
#   -5        -4           -3           -2          -1       der a izq

In [54]:
primos

[2, 3, 5, 7, 11.0]

In [63]:
primos[:-3] 
 # Rango[1,3)

[2, 3]

In [66]:
#Métodos de las listas
primos.append(11)
primos

[2, 3, 5, 7, 11.0, 13, 11, 11]

In [67]:
primos.count(11)

3

In [72]:
primos.index(11)

4

In [74]:
primos.insert(1,3)
primos

[2, 3, 3, 3, 5, 7, 11.0, 13, 11, 11]

In [87]:
numeros = [1,3.3,"hola",7,9] 
numeros.remove("hola")
numeros.append("hola")
numeros

[1, 3.3, 7, 9, 'hola']

In [88]:
numeros.pop(2)
numeros

[1, 3.3, 9, 'hola']

In [92]:
# Ordenamiento de listas
primos

[2, 3, 3, 3, 5, 7, 11.0, 13, 11, 11]

In [93]:
primos.reverse()
primos

[11, 11, 13, 11.0, 7, 5, 3, 3, 3, 2]

In [101]:
notas = [4.5,5,2.4,4.7]
notas.sort()
notas

[2.4, 4.5, 4.7, 5]

In [99]:
notas = sorted(notas, reverse=True)
notas

[5, 4.7, 4.5, 2.4]

In [105]:
from numpy import mean

mean(notas)

4.15

### Cadena de texto se asemeja a una lista

Las cadenas de caracteres son secuencias inmutables de puntos de código Unicode. Las cadenas se pueden definir de diferentes maneras:

- Comillas simples: "permite incluir comillas "dobles""
- Comillas dobles: "permite incluir comillas "simples"".
- Triples comillas: ya sea con comillas simples """Triples comillas simples""" o dobles """Triples comillas dobles"""

In [106]:
palabra = "Hola"
palabra[0]

'H'

In [107]:
palabra[0:3]

'Hol'

In [119]:
frase = "hola sOY ProgramADOR de PYTHON"
frase.capitalize().center(40,"-")

'-------------Hola soy juan--------------'

In [125]:
nombre = input("¿Cuál es su nombre?")
print("Hola {}".format(nombre.capitalize().center(40,"_")))

¿Cuál es su nombre?Juan
Hola __________________Juan__________________

In [127]:
frase = "hola sOY ProgramADOR de PYTHON"
frase.lower().count("o")

5

In [131]:
nemotecnico = input("¿Cuál es el nemotécnico del título?: ")
print("¿Es un futuro?", nemotecnico.endswith("F"))

¿Cuál es el nemotécnico del título?: JPM
¿Es un futuro? False

In [132]:
frase = "hola sOY ProgramADOR de PYTHON"
frase.find("PY")

24

In [133]:
"PY" in frase

True

In [134]:
frase.isalpha()

False

In [135]:
frase.isalnum()

False

### Tuplas

Las tuplas son objetos de tipo secuencia, específicamente es un tipo de dato lista inmutable. Esta no puede modificarse de ningún modo después de su creación. Son muy similares a las listas y comparten varias de sus funciones y métodos integrados, aunque su principal diferencia es que son inmutables. El objeto de tipo tupla integra una serie de métodos integrados a continuación:

### Diccionarios

El diccionario, define una relación uno a uno entre claves y valores, ejemplo:

In [ ]:
d1 = {
  "Nombre": _______,
  "Edad": __,
  "Documento": _______
}

print(__)

Otra forma equivalente de crear un diccionario en Python es usando dict() e introduciendo los pares key: value entre paréntesis

In [ ]:
d2 = dict([
      ("Nombre", _______),
      ("Edad", __),
      ("Documento", _______),
])

print(__)

También es posible usar el constructor dict() para crear un diccionario.

In [ ]:
d3 = dict(Nombre=_______,
          Edad=__,
          Documento=_______)
print(d3)

Los diccionarios en Python pueden contener uno dentro de otro. Podemos ver como los valores anidado uno y dos del diccionario d contienen a su vez otro diccionario.